body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  min-width: 255px;
  background: #00b4db;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
.wrapper .form-login fieldset {
  width: 400px;
  margin: auto;
}
.wrapper .signing {
  margin: 0 auto;
  width: 80%;
}

.dropzone {
  margin-top: 40px;
}

.group {
  position: relative;
  margin: 45px 0;
}
.group input {
  background: none;
  color: #343a40;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
.group input:focus {
  outline: none;
}
.group input:focus ~ label,
.group input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
.group input:focus ~ .bar:before {
  width: 100%;
}
.group input[type="password"] {
  letter-spacing: 0.3em;
}
.group label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.group .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease all;
  left: 0%;
}

.dashboard :hover {
  background-color: #eeeeee;
}
.dashboard p {
  font-size: 30px;
}
.dashboard .searchBar {
  margin-bottom: 30px;
  border-radius: 10px;
}
.dashboard .user {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
.dashboard h3 {
  color: white;
  background-color: #009ed8;
  border-radius: 2px;
}

.posts :hover {
  background-color: #eeeeee;
}
.posts .searchBar {
  margin-bottom: 30px;
  border-radius: 10px;
}
.posts .user {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
.posts a {
  margin: 10px auto;
}

.arheoDetails .arheoname {
  text-transform: capitalize;
  margin: auto;
  font-size: 30px;
}

.userLink {
  color: black;
  text-decoration: none;
}

.userLink:hover {
  color: black;
  text-decoration: none;
}

.preview {
  position: relative;
  width: 100%;
  height: 200px !important;
}
.del-img {
  position: absolute;
  color: red;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin-top: -15px;
}
.previewImage {
  border: 2px solid rgb(170, 170, 170);
  margin: auto;
  width: 150px !important;
  height: 200px !important;
}

.dropdown .customButton {
  border: none;
  background: none !important;
}
.dropdown .customButton:focus,
.dropdown .customButton:active {
  outline: none !important;
  box-shadow: none;
}
.dropdown .btn-secondary:not(:disabled):not(.disabled):active:focus,
.dropdown .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.dropdown .dropdownCustom {
  margin-right: -20px;
  margin-top: 10px;
  background-color: #00b4db;
  width: 100%;
}
.dropdown .dropdownCustom .dropitemCustom:hover {
  background-color: #00a4c9;
}

.modal .modalGroup {
  background-color: #e9ecef;
  margin: auto;
  border-radius: 10px;
}
.modal .modalGroup .modalSpan {
  width: 100%;
}
.modal .spanCustom {
  min-width: 100px;
}

.workForm {
  max-width: 80%;
}
.workForm button {
  border-radius: 50%;
}

.saveButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery {
  margin-top: 50px;
}
.dateInput {
  width: 60px;
}

.profileImg {
  margin: auto;
  width: 150px !important;
  height: 200px !important;
}

.showImg {
  margin: auto;
  max-width: 300px;
  max-height: 400px;
}

.button {
  background: #009ed8;
  color: #fff;
  border: none;
  position: relative;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.button:hover {
  background: #fff;
  color: #009ed8;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #009ed8;
  transition: 400ms ease all;
}

.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.custombtn {
  border: none;
}

.popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  overflow: scroll;
  border-radius: 20px;
  background: white;
}
.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: white;
}
.drag-n-drop {
  background-color: rgb(230, 227, 220);
  border-color: rgb(170, 170, 170);
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(178, 173, 162);
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.drag-n-drop div:focus {
  outline: 0;
}
.drag-n-drop p {
  padding: 20px;
}
.thumbnail {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(170, 170, 170);
}

.footer {
  background: linear-gradient(to right, #0083b0, #00b4db);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 255px) {
  .wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .profile {
    top: 1;
    position: absolute;
  }

  .details {
    margin-top: 500px;
  }
}
