//first things first
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

//variables
$button-color: #009ed8;
$button-text: #ffffff;
$regular-text: #333;
$button-tint: fadeout(#000, 90%);
$background: #303036;

$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;

//navbar and all containings
.navbar {
  min-width: 255px;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//main area container
.container {
  .form-login {
    fieldset {
      width: 400px;
      margin: auto;
    }
  }
}
.dropzone {
  margin-top: 40px;
}
//form group for sign in/up
.group {
  position: relative;
  margin: 45px 0;

  input {
    background: none;
    color: #343a40;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: $width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $hl-color;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
}
.dashboard {
  :hover {
    background-color: rgb(238, 238, 238);
  }
  p {
    font-size: 30px;
  }
  .searchBar {
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .user {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
  }
}

.userLink {
  color: black;
  text-decoration: none;
}
.userLink:hover {
  color: black;
  text-decoration: none;
}
.dropdown {
  .customButton {
    border: none;
    background: none !important;
  }
  .customButton:focus,
  .customButton:active {
    outline: none !important;
    box-shadow: none;
  }
  .btn-secondary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }
  .dropdownCustom {
    margin-right: -20px;
    margin-top: 10px;
    background-color: #00b4db;
    .dropitemCustom:hover {
      background-color: #00a4c9;
    }
  }
}
.modal {
  .modalGroup {
    background-color: #e9ecef;
    margin: auto;
    border-radius: 10px;
    .modalSpan {
      width: 100%;
    }
  }
  .spanCustom {
    min-width: 100px;
  }
}

.workForm {
  max-width: 80%;
  button {
    border-radius: 50%;
  }
}

.profileImg {
  max-width: 300px;
  max-height: 300px;
}

//button for general use
.button {
  background: $button-color;
  color: #fff;
  border: none;
  position: relative;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button:hover {
  background: #fff;
  color: $button-color;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: $button-color;
  transition: 400ms ease all;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.dashboard {
  h3 {
    color: white;
    background-color: $button-color;
    border-radius: 2px;
  }
}
.card {
  margin: 15px auto;
}
.custombtn {
  border: none;
}

//media queries
@media screen and (max-width: 255px) {
  .container {
    min-width: 100%;
  }
}
